<h4>Register new account</h4>
<hr>
<form *ngIf="!isSuccessfull"
    name="form"
    (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm"
    novalidate>
    <div class="form-group">
        <label for="email">Select a username:</label>
        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          [email] = "true"
          required
          #email="ngModel"
        />
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="f.submitted && email.invalid && (email.dirty || email.touched)">
          Email must be a valid email address
    </div>
    <div class="form-group">
        <label for="pwd">Select a password:</label>
        <input type="password" class="form-control" name="password"
        [(ngModel)]="form.password"
        required
        minlength="6"
        #password="ngModel">
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="f.submitted && password.invalid && (password.dirty || password.touched)">Password is required</div>
    
    <button type="submit" class="btn btn-primary">Register account</button>
    <div class="alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
    </div>
</form>
<div class="alert alert-success" *ngIf="isSuccessfull">
    Your registration is successful!
 </div>