<h4>Log in to existing account</h4>
<hr>
<form *ngIf="!isLoggedIn"
    name="form"
    (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm"
    novalidate>
    <div class="form-group">
        <label for="email">Email:</label>
        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          [email] = "true"
          required
          #email="ngModel"
        /> 
        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && email.invalid && (email.dirty || email.touched)">
            Email is required!
        </div>      
    </div>

    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control"name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel">
        <div
            class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && password.invalid">
            Wrong password
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Log in</button>
    <div class="form-group">
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && isLoginFailed">
          Login failed: {{ errorMessage }}
        </div>
      </div>
</form>

<div class="alert alert-success" *ngIf="isLoggedIn">
    Logged in as 
  </div>
<hr>