{
	"extends": ["eslint:recommended", "plugin:prettier/recommended"],
	"plugins": ["jest"],
	"env": {
		"node": true,
		"es6": true
	},
	"parserOptions": {
		"ecmaVersion": 2020,
		"sourceType": "module"
	},
	"rules": {
		"no-console": [2, { "allow": ["info", "warn", "error"] }]
	}
}
