version: "3.8"

services:
    api:
        container_name: api
        image: api
        build: api/.
        restart: unless-stopped
        ports:
            - 4000:8080

    mongo:
        container_name: mongo
        image: mongo
        restart: unless-stopped
        volumes:
            - ./docker-volumes/mongo:/data/db
        expose:
            - 27017
        environment:
            MONGO_INITDB_ROOT_USERNAME: username
            MONGO_INITDB_ROOT_PASSWORD: password

    mongo-api:
        container_name: mongo-api
        image: mongo-api
        build: mongo-api/.
        restart: unless-stopped
        expose:
            - 80
        ports:
            - 4001:80
        depends_on:
            - mongo
        environment:
            CONFIG_MONGODB_ROOT_USERNAME: username
            CONFIG_MONGODB_ROOT_PASSWORD: password

    temperature:
        container_name: temperature
        image: temperature
        build: temperature/.
        restart: unless-stopped
        expose:
            - 80
        ports:
            - 4002:80
    wind:
        container_name: wind
        image: wind
        build: wind/.
        restart: unless-stopped
        expose:
            - 80
        ports:
            - 4003:80

    el-consumption:
        container_name: el-consumption
        image: el-consumption
        build: el-consumption/.
        restart: unless-stopped
        expose:
            - 80
        ports:
            - 4004:80

    el-price:
        container_name: el-price
        image: el-price
        build: el-price/.
        restart: unless-stopped
        expose:
            - 80
        ports:
            - 4005:80
