<h5>Upload a Image</h5>
<br>

<form>
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="customFile" #imageInput accept="image/*" (change) = "processFile(imageInput)">
      <label class="custom-file-label" for="customFile">Choose file</label>
    </div>
</form>
  
<div *ngIf="selectedFile" class="img-preview-container">
    <div class="img-preview{{selectedFile.status === 'fail' ? '-error' : ''}}"
        [ngStyle]="{'background-image': 'url('+ selectedFile.src + ')'}">
    </div>

    <div *ngIf="selectedFile.pending" class="img-loading-overlay">
        <div class="img-spinning-circle"></div>
    </div>

    <div *ngIf="selectedFile.status === 'ok'" class="alert alert-success"> Image Uploaded Succesfully!</div>
    <div *ngIf="selectedFile.status === 'fail'" class="alert alert-danger"> Image Upload Failed!</div>
</div>