<br>
<div class = "row" >
    <div class = "col-sm bg-light text-dark p-4">
        <h4>Log in to existing account</h4>
        <hr>
        <form action="/action_page.php">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" placeholder="Enter username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Log in</button>
        </form>
        <hr>
    </div>

    <div class = "col-sm p-4">
        <h4>Register new account</h4>
        <hr>
        <form action="/action_page.php">
            <div class="form-group">
                <label for="uname">Select a username:</label>
                <input type="text" class="form-control" id="uname" placeholder="Enter username" name="uname" required>
            </div>
            <div class="form-group">
                <label for="pwd">Select a password:</label>
                <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" required>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" name="remember" required> I agree on blabla.
                  <div class="valid-feedback">Najs</div>
                  <div class="invalid-feedback">Check this checkbox to continue.</div>
                </label>
              </div>
            <button type="submit" class="btn btn-primary">Register account</button>
            
        </form>
    </div>
</div>